@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: Outfit;
  font-style: normal;
}
@layer components{
  .container{
    @apply mx-auto px-[1rem];
  }
}